.navbar {
    background: #054ba9;
    height: 3.8125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.00625rem 0.625rem black;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    width: 31.7480625rem;
    height: 3.8125rem;
    justify-content: flex-start;
    gap: 2rem;
}

.tsunami {
    color: white;
    text-decoration: none;
}

.btn-format {
    margin-right: 2rem;
    display: flex;
    gap: 1rem;
}

.trade-btn {
    background: #2d42fc;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    color: #fff !important;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    min-height: 2.25rem;
    display: inline-flex !important;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: none;
    appearance: none;
}

.connect-btn {
    width: 8.139625rem;
    background: transparent;
    color: #fff !important;
    border: 0.1rem solid #fff;
    align-items: center;
    text-align: center;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    border-radius: 0.25rem;
}

.link {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.03125rem;
    color: #d3d3d3;
    font-size: 0.9375rem;
    line-height: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}